/* Styles for code blocks */
pre {
    position: relative;
    background-color: #404040;
    color: #b5b5b5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* Styles for highlighted code */
pre[class*="language-"] {
    padding: 0;
    margin: 0;
}

/* Adjust the line numbers */
.line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -2.8em; /* Adjust as needed */
    width: 3em; /* Adjust as needed */
    line-height: inherit;
    border-right: 1px solid #999;
    border-bottom: none;
    user-select: none;
    padding-right: 0.5em;
}

/* Python specific styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988;
}

.token.punctuation {
    color: #ccc;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}
